{% extends 'base.html' %}
{% load static %}

{% block title %}
About Page
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>About Crazy Mike's</h1>
    <p>Crazy Mike has been playing and maintaining guitars for the last 15 years. As he was tired of annoying his wife
        and friends with his guitar talk, Mike opened up this message board. Think of it as a one stop shop for guitar 
        news, gear, and tips for working on your own guitars.</p>
</div>

{% endblock %}